<div class="form-group row" style="margin-top: 10px">

    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="panel panel-info">

            <div class="panel-heading">البيانات العامة</div>

            <div class="panel-body">

                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                    <div class="mdl-tabs__tab-bar">
                        <a href="#panel-1-company"
                           class="mdl-tabs__tab is-active">
                            <span>معلومات عامة</span>
                        </a>
                        <a href="#panel-2-company"
                           class="mdl-tabs__tab">
                            <span>الشعار الرسمي</span>
                        </a>
                        <a href="#panel-3-company"
                           ng-click="findMyBanks()"
                           class="mdl-tabs__tab">
                            <span>الرصيد والحسابات</span>
                        </a>
                        <a href="#panel-4-company"
                           ng-click="findMyBankTransactions()"
                           class="mdl-tabs__tab">
                            <span>الحركات المالية</span>
                        </a>
                        <a href="#panel-5-company"
                           class="mdl-tabs__tab">
                            <span>خيارات</span>
                        </a>
                    </div>

                    <div class="mdl-tabs__panel mdl-tabs__panel_free is-active" id="panel-1-company">

                        <form name="form1"
                              ng-submit="submitCompany()"
                              novalidate="novalidate"
                              focus-group=""
                              focus-stack=""
                              focus-group-head="loop"
                              focus-group-tail="loop">

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                 ng-show="form1.$invalid && form1.$submitted">
                                <div class="alert alert-danger" role="alert">
                                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label for="name" class="control-label">اسم الشركة</label>
                                    <input id="name"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           ng-model="selectedCompany.name">
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label for="address" class="control-label">العنوان</label>
                                    <input id="address"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           ng-model="selectedCompany.address">
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <label for="phone" class="control-label">الهاتف</label>
                                    <input id="phone"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           ng-model="selectedCompany.phone">
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <label for="mobile" class="control-label">الجوال</label>
                                    <input id="mobile"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           ng-model="selectedCompany.mobile">
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <label for="fax" class="control-label">الفاكس</label>
                                    <input id="fax"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           ng-model="selectedCompany.fax">
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <label for="email" class="control-label">البريد الإلكتروني</label>
                                    <input id="email"
                                           type="email"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           ng-model="selectedCompany.email">
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                    <label for="website" class="control-label">الموقع الرسمي</label>
                                    <input id="website"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           ng-model="selectedCompany.website">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                    <label for="commericalRegisteration" class="control-label">السجل
                                        التجاري</label>
                                    <input id="commericalRegisteration"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           ng-model="selectedCompany.commericalRegisteration">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                    <label for="taxCode" class="control-label">الرقم الضريبي</label>
                                    <input id="taxCode"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           placeholder="الرقم الضريبي"
                                           ng-model="selectedCompany.taxCode">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                    <label for="licenceCode" class="control-label">رقم الرخصة</label>
                                    <input id="licenceCode"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           placeholder="رقم الرخصة"
                                           ng-model="selectedCompany.licenceCode">
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="panel-footer">

                                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                        <button uib-tooltip="حفظ"
                                                tooltip-append-to-body="true"
                                                type="submit"
                                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                                        <span class="mdl-list__item-primary-content">
                                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/save.{{iconSetType}}"
                                                 width="24" height="24">
                                            <span>حفظ البيانات</span>
                                        </span>
                                        </button>

                                    </div>

                                </div>

                            </div>

                        </form>

                    </div>

                    <div class="mdl-tabs__panel mdl-tabs__panel_free" id="panel-2-company">

                        <div class="form-group row">

                            <button uib-tooltip="تحميل"
                                    tooltip-append-to-body="true"
                                    type="button"
                                    ng-click="browseCompanyLogo()"
                                    class="mdl-button mdl-js-button mdl-js-ripple-effect pull-right">
                                <img class="material-icons mdl-list__item-icon"
                                     ng-src="/ui/img/{{iconSet}}/upload.{{iconSetType}}"
                                     width="24" height="24">
                            </button>

                        </div>

                        <div class="form-group row mdl-shadow--8dp">

                            <input id="uploader-company" style="display: none" type="file" accept="image/*"
                                   onchange="angular.element(this).scope().uploadCompanyLogo(this.files)"/>
                            <img class="text-center" ng-src="{{selectedCompany.logo}}"
                                 style="width: available;height: available;margin-left: auto;margin-right: auto;display: block;"/>

                        </div>

                    </div>

                    <div class="mdl-tabs__panel mdl-tabs__panel_free" id="panel-3-company">

                        <div class="form-group row">

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>

                                        <th>
                                            <span>#</span>
                                        </th>

                                        <th>
                                            <span>الحساب</span>
                                        </th>

                                        <th>
                                            <span>الرصيد</span>
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="bank in myBanks">
                                        <td>{{$index+1}}</td>
                                        <td>{{bank.name}}</td>
                                        <td>{{bank.balance | currency:' SAR ':2}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>

                    <div class="mdl-tabs__panel mdl-tabs__panel_free" id="panel-4-company">

                        <div class="form-group row" ng-if="myBankTransactions.length > 0">

                            <div class="pull-left">

                                <input type="text"
                                       class="form-control"
                                       placeholder="بحث سريع"
                                       ng-change="refreshGUI()"
                                       ng-model="myBankTransactions.searchText">

                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>

                                        <th>
                                            <span>#</span>
                                        </th>

                                        <th>
                                            <span>التاريخ</span>
                                        </th>

                                        <th>
                                            <span>نوعها</span>
                                        </th>

                                        <th>
                                            <span>المبلغ</span>
                                        </th>

                                        <th>
                                            <span>البيان</span>
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="bankTransaction in myBankTransactions | filter:myBankTransactions.searchText">
                                        <td>{{$index+1}}</td>
                                        <td class="fit">
                                            <span ng-show="dateType==='H'">{{bankTransaction.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                            <span ng-show="dateType==='G'">{{bankTransaction.date | date: 'yyyy-MM-dd'}}</span>
                                        </td>
                                        <td>{{bankTransaction.transactionType.name}}</td>
                                        <td class="fit">{{bankTransaction.amount | currency:' SAR ':2}}</td>
                                        <td>{{bankTransaction.note}}</td>
                                    </tr>
                                    <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                        ng-show="!myBankTransactions || myBankTransactions.length ==0">
                                        <td colspan="6">
                                            <p>
                                                <span>لا يوجد معاملات مالية حتى الآن </span>
                                            </p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>

                    <div class="mdl-tabs__panel mdl-tabs__panel_free" id="panel-5-company">

                        <form name="form2"
                              ng-submit="updateCompanyOptions()"
                              novalidate="novalidate"
                              focus-group=""
                              focus-stack=""
                              focus-group-head="loop"
                              focus-group-tail="loop">

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                 ng-show="form2.$invalid && form2.$submitted">
                                <div class="alert alert-danger" role="alert">
                                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                                </div>
                            </div>

                            <hr/>

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                    <label for="smsUserName" class="control-label">اسم المستخدم(حساب SMS)</label>
                                    <input id="smsUserName"
                                           dir="ltr"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           placeholder="اجباري"
                                           class="form-control"
                                           ng-model="selectedCompany.options.smsUserName">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                    <label for="smsPassword" class="control-label">كلمة المرور(حساب SMS)</label>
                                    <input id="smsPassword"
                                           dir="ltr"
                                           type="password"
                                           required="required"
                                           disable-validation-message=""
                                           placeholder="اجباري"
                                           class="form-control"
                                           ng-model="selectedCompany.options.smsPassword">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                    <label for="vatFactor" class="control-label">معامل القيمة المضافة</label>
                                    <input id="vatFactor"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           placeholder="اجباري"
                                           ng-model="selectedCompany.options.vatFactor">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                    <label for="logo" class="control-label">رابط شعار التقرير</label>
                                    <input id="logo"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           placeholder="اجباري"
                                           ng-model="selectedCompany.options.logo">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                    <label for="background" class="control-label">رابط ترويسة التقرير</label>
                                    <input id="background"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           placeholder="اجباري"
                                           ng-model="selectedCompany.options.background">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                    <label for="reportTitle" class="control-label">العنوان الرئيسي للتقرير</label>
                                    <input id="reportTitle"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           placeholder="اجباري"
                                           ng-model="selectedCompany.options.reportTitle">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                    <label for="reportSubTitle" class="control-label">العنوان الفرعي للتقرير</label>
                                    <input id="reportSubTitle"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           placeholder="اجباري"
                                           ng-model="selectedCompany.options.reportSubTitle">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                    <label for="reportFooter" class="control-label">تذييل التقرير</label>
                                    <input id="reportFooter"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           placeholder="اجباري"
                                           ng-model="selectedCompany.options.reportFooter">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <label for="tokenLengthInHours" class="control-label">مدة صلاحية الروابط المرسلة</label>
                                    <div dir="ltr" class="input-group" id="tokenLengthInHours">
                                        <span class="input-group-addon">ساعة</span>
                                        <input dir="rtl"
                                               type="number"
                                               min="0"
                                               class="form-control"
                                               required="required"
                                               disable-validation-message=""
                                               placeholder="اجباري"
                                               ng-model="selectedCompany.options.tokenLengthInHours">
                                    </div>
                                </div>

                            </div>

                            <hr/>

                            <div class="form-group row">

                                <div class="panel-footer">

                                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                        <button uib-tooltip="حفظ"
                                                tooltip-append-to-body="true"
                                                type="submit"
                                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                                        <span class="mdl-list__item-primary-content">
                                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/save.{{iconSetType}}"
                                                 width="24" height="24">
                                            <span>حفظ البيانات</span>
                                        </span>
                                        </button>

                                    </div>

                                </div>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>