<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/bankTransaction.{{iconSetType}}" width="24" height="24">
                <strong>سند قبض</strong>&nbsp;
                <span ng-if="accountPayment.account.id">
                    <span>من الطالب / </span>
                    {{accountPayment.account.student.contact.shortName}}
                </span>
            </span>
        </h3>
    </div>

    <div class="modal-body modal-body-free" id="modal-body">

        <div class="row">

            <div class="form-group row" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="form-group row">

                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                    <div class="mdl-tabs__tab-bar">
                        <a href="#panel-1-payment" class="mdl-tabs__tab col-xs-6 col-sm-6 col-md-6 col-lg-6 is-active">
                            <span>المعلومات الأساسية</span>
                        </a>
                    </div>

                    <div class="mdl-tabs__panel is-active" id="panel-1-payment">

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="branch" class="control-label">
                                    <span>الفرع</span>
                                    <strong>
                                        <a href=""
                                           ng-if="contains(me.team.authorities, ['ROLE_BRANCH_CREATE'])"
                                           ng-click="newBranch()">فرع جديد</a>
                                    </strong>
                                </label>
                                <ui-select id="branch"
                                           focus-autofocus="1"
                                           ng-model="accountPayment.account.course.master.branch"
                                           required="required"
                                           disable-validation-message=""
                                           theme="bootstrap">
                                    <ui-select-match placeholder="اجباري">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="branch in branches | filter: $select.search | orderBy:'code' track by branch.id">

                                        <div class="mdl-menu__item--full-bleed-divider"></div>
                                        <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer">
                                            <span class="mdl-list__item-primary-content">
                                                <span class="material-icons mdl-list__item-avatar"
                                                      style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/branch.{{iconSetType}}')"></span>
                                                <div ng-bind-html="branch.name | highlight: $select.search"></div>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>رقم الفرع / </span>
                                                    {{branch.code}}
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>الاسم / </span>
                                                    {{branch.name}}
                                                </span>
                                            </span>
                                        </li>

                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="account" class="control-label">
                                    <span>السجل التدريبي للطالب</span>
                                    <strong>
                                        <a href=""
                                           ng-if="contains(me.team.authorities, ['ROLE_ACCOUNT_CREATE'])"
                                           ng-click="newAccount()">تسجيل جديد</a>
                                    </strong>
                                </label>
                                <ui-select id="account"
                                           ng-model="accountPayment.account"
                                           required="required"
                                           disable-validation-message=""
                                           theme="bootstrap">
                                    <ui-select-match placeholder="اجباري">

                                        <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer">
                                            <span class="mdl-list__item-primary-content">
                                                <span class="material-icons mdl-list__item-avatar"
                                                      style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/account.{{iconSetType}}')"></span>
                                                <div ng-bind-html="'الطالب/ ' + $select.selected.student.contact.shortName | highlight: $select.search"></div>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>رقم السجل التدريبي / </span>
                                                    <span>{{$select.selected.code}}</span>
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>الاسم كاملاً / </span>
                                                    <span>{{$select.selected.student.contact.fullName}}</span>
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>رقم الجوال / </span>
                                                    <span>{{$select.selected.student.contact.mobile}}</span>
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>التخصص / </span>
                                                    <span>{{$select.selected.course.master.name}}</span>
                                                </span>
                                            </span>
                                        </li>

                                    </ui-select-match>
                                    <ui-select-choices
                                            refresh="searchAccounts($select)"
                                            refresh-delay="300"
                                            repeat="account in accounts | filter: $select.search | orderBy:'code' track by $index">

                                        <div class="mdl-menu__item--full-bleed-divider"></div>
                                        <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer">
                                            <span class="mdl-list__item-primary-content">
                                                <span class="material-icons mdl-list__item-avatar"
                                                      style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/account.{{iconSetType}}')"></span>
                                                <div ng-bind-html="'الطالب/ ' + account.student.contact.shortName | highlight: $select.search"></div>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>رقم السجل التدريبي / </span>
                                                    <span>{{account.code}}</span>
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>الاسم كاملاً / </span>
                                                    <span>{{account.student.contact.fullName}}</span>
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>رقم الجوال / </span>
                                                    <span>{{account.student.contact.mobile}}</span>
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>التخصص / </span>
                                                    <span>{{account.course.master.name}}</span>
                                                </span>
                                            </span>
                                        </li>

                                        <div ng-if="$index === $select.items.length-1">
                                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                                    ng-disabled="buffer.lastAccount"
                                                    style="width: 100%; margin-top: 5px;"
                                                    ng-click="searchAccounts($select, $event);">تحميل المزيد
                                            </button>
                                        </div>

                                    </ui-select-choices>
                                </ui-select>
                            </div>

                        </div>

                        <div class="form-group row" ng-if="accountPayment.account.id">

                            <div class="box-danger">
                                <p>
                                    <span>الباقي = </span>&nbsp;
                                    {{accountPayment.account.remain | currency:' SAR ':2}}
                                </p>
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="code" class="control-label">رقم السند</label>
                                <div dir="ltr" class="input-group" id="code">
                                    <span class="input-group-addon">غير مكرر</span>
                                    <input dir="rtl"
                                           type="number"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           placeholder="اجباري"
                                           ng-model="accountPayment.code">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-init="accountPayment.amount=1">
                                <label for="amount" class="control-label">مقدار الدفعة</label>
                                <div dir="ltr" class="input-group" id="amount">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input dir="rtl"
                                           type="number"
                                           required="required"
                                           disable-validation-message=""
                                           min="1"
                                           class="form-control"
                                           placeholder="اجباري"
                                           ng-model="accountPayment.amount">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="vat" class="control-label">القيمة المضافة</label>
                                <div dir="ltr" class="input-group" id="vat">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input dir="rtl"
                                           type="number"
                                           class="form-control"
                                           readonly
                                           value="{{accountPayment.amount * selectedCompany.options.vatFactor}}">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-init="accountPayment.date=now">
                                <label for="date" class="control-label">تاريخ السند</label>
                                <div dir="ltr" class="input-group" id="date" ng-init="calendar1='G'">
                                    <span class="input-group-addon">
                                        <a href="" ng-click="calendar1==='G'?calendar1='H':calendar1='G'">
                                            <span ng-show="calendar1==='G'">ميلادي</span>
                                            <span ng-show="calendar1==='H'">هجري</span>
                                        </a>
                                    </span>
                                    <div style="position: relative">
                                        <input style="position: absolute" ng-show="calendar1==='H'"
                                               type="text"
                                               class="form-control is-calendarPicker animated-div"
                                               ng-model="accountPayment.date"
                                               calendarType="ummalqura"
                                               language="ar"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="true"
                                               pickerClass="myPicker"
                                               ng-required="calendar1==='H'"
                                               disable-validation-message=""
                                               kdatepicker/>
                                        <input style="position: absolute" ng-show="calendar1==='G'"
                                               type="text"
                                               class="form-control is-calendarPicker animated-div"
                                               ng-model="accountPayment.date"
                                               calendarType="gregorian"
                                               language="ar-EG"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="true"
                                               pickerClass="myPicker"
                                               ng-required="calendar1==='G'"
                                               disable-validation-message=""
                                               kdatepicker/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="bank" class="control-label">إيداع إلى الحساب</label>
                                <ui-select id="bank"
                                           ng-model="accountPayment.bankTransaction.bank"
                                           required="required"
                                           disable-validation-message=""
                                           theme="bootstrap">
                                    <ui-select-match placeholder="اختر الحساب">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="bank in banks | filter: $select.search | orderBy:'code' track by bank.id">

                                        <div class="mdl-menu__item--full-bleed-divider"></div>
                                        <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer">
                                            <span class="mdl-list__item-primary-content">
                                                <span class="material-icons mdl-list__item-avatar"
                                                      style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/bank.{{iconSetType}}')"></span>
                                                <div ng-bind-html="bank.name | highlight: $select.search"></div>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>الرصيد / </span>
                                                    {{bank.balance}}
                                                </span>
                                                <span class="mdl-list__item-sub-title">
                                                    <span>الفرع / </span>
                                                    {{bank.branch.name}}
                                                </span>
                                            </span>
                                        </li>

                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="note" class="control-label">ملاحظات</label>
                                <textarea id="note"
                                          type="text"
                                          msd-elastic="\n"
                                          class="form-control"
                                          placeholder="اختياري"
                                          ng-model="accountPayment.note">
                                </textarea>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="سداد"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
            </button>
        </div>

    </div>

</form>